In [32]:
import pandas as pd

excel_file_name = 'c:/myPyCode/data/play_typing3.xlsx'

df = pd.read_excel(excel_file_name, index_col = '학생')

df

,1day_tp,1day_ex,2day_tp,2day_ex,3day_tp,3day_ex,4day_tp,4day_ex,5day_tp,5day_ex,...,12day_tp,12day_ex,13day_tp,13day_ex,14day_tp,14day_ex,15day_tp,15day_ex,16day_tp,16day_ex
학생,,,,,,,,,,,,,,,,,,,,,
김승규,336,100,298,99,387,100.0,317,99,313,99,...,369,99,318,100,323,100,342,99,348.0,100.0
김정훈,102,99,120,99,132,100.0,150,100,125,99,...,171,99,166,99,160,99,결석,결석,167.0,99.0
마가진,5,62,35,99,87,98.0,74,95,49,80,...,85,99,100,99,98,99,97,100,90.0,98.0
문지현,230,100,229,99,229,99.0,229,100,227,99,...,236,99,235,99,220,99,229,99,245.0,99.0
신준호,278,100,242,100,256,99.0,261,100,247,99,...,249,99,260,99,249,99,247,100,241.0,99.0
신지환,258,100,결석,결석,269,100.0,272,100,241,100,...,268,100,281,99,결석,결석,258,99,260.0,99.0
오병훈,156,99,161,99,171,99.0,169,99,161,98,...,200,99,187,98,188,98,187,99,188.0,99.0
오창환,157,100,167,100,163,100.0,173,100,163,99,...,결석,결석,결석,결석,결석,결석,결석,결석,NaN,NaN
윤경주,151,99,167,100,165,NaN,202(병결),99(병결),170,100,...,197,99,212,99,175,99,174,99,188.0,99.0
윤혜수,123,99,157,99,150,100.0,172,99,119,100,...,166,100,177,NaN,156,99,183,99,158.0,100.0
이도원,269,98,277,97,269,99.0,266,100,261,99,...,257,99,268,99,261,100,249,100,264.0,99.0
이용주,177,99,178,99,190,99.0,186,100,158,99,...,204,99,211,99,174,98,195,99,204.0,99.0
이유록,193,99,207,99,204,99.0,204,100,218,99,...,227,100,238,99,230,99,231,99,211.0,99.0
임건우,175,99,188,99,179,99.0,병가,병가,지각,지각,...,243,99,NaN,NaN,결석,결석,192,99,201.0,99.0
장은진,234,99,257,98,246,99.0,249,99,256,100,...,262,100,270,99,263,99,266,100,270.0,99.0
조철호,225,99,264,99,268,99.0,241,100,212,100,...,260,100,263,100,238,100,257,99,256.0,100.0
지승배,199,98,232,97,237,98.0,228,98,229,98,...,244,97,231,97,238,97,248,97,232.0,97.0
최종준,89,99,103,99,112,99.0,118,100,103,99,...,111,100,103,99,99,99,120,99,106.0,99.0
편효범,221,97,246,97,238,99.0,228,99,208,99,...,239,99,257,99,216,99,243,99,226.0,99.0
황영범,156,99,88,98,117,97.0,143,99,125,99,...,165,99,175,99,148,99,165,99,167.0,99.0
황정현,182,98,175,98,195,100.0,205,99,200,100,...,214,99,219,99,186,100,212,99,223.0,99.0

In [37]:
name = input('이름을 입력해주세요 : ')

import pandas as pd

excel_file_name = 'c:/myPyCode/data/play_typing3.xlsx'

df = pd.read_excel(excel_file_name)

# tp = df[(df['학생'] == name) & (df['1day_tp']>=100)]

tp = df[df['학생'] == name]
tp.iloc[:,[0,1,2,3,4]]

이름을 입력해주세요 : 조철호

     학생  1day_tp  1day_ex 2day_tp 2day_ex
15  조철호      225       99     264      99